<body>
  <div class="container">
    <div class="row pb-2">
      <div class="col-8">
        OrderId: <input type="text" size="50" [(ngModel)]="orderId" />
        <button type="button" class="btn btn-warning" (click)="generateId()">GenerateID</button>
      </div>
      <div class="col-4">
        <button type="button m-1" class="btn btn-primary" (click)="CreateOrder()">CreateOrder</button>
        <br />
        <a class="btn btn-info m-1" href="http://localhost:5000/api/order/{{orderId}}" target="_blank">order</a>
        <br />
        <a class="btn btn-info m-1" href="http://localhost:5000/api/order/getorders" target="_blank">orders</a>
      </div>
    </div>

    <div class="row pb-4">
      <div class="col-8">
        ClientId: <input type="text" size="50" [(ngModel)]="clientId" />
        <button type="button" class="btn btn-warning" (click)="generateClientId()">GenerateID</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary m-1" (click)="ApplyClient()">ApplyClient</button>
      </div>
    </div>

    <div class="row pb-4 ">
      <div class="col-8">
        ProductId: <input type="text" size="50" [(ngModel)]="productId" />
        <button type="button" class="btn btn-warning" (click)="generateProductId()">GenerateProductId</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary m-1" (click)="AddProduct()">AddProduct</button>
        <button type="button" class="btn btn-primary m-1" (click)="RemoveProduct()">RemoveProduct</button>
      </div>
    </div>

    <div class="row pb-4 ">
      <div class="col-8">
        <button type="button" class="btn btn-primary m-1" (click)=" confirm()">Confirm Order</button>
      </div>
      <div class="col-4">
      </div>
    </div>

  </div>
</body>